.header {
  position: relative;
  height: 100vh;
  background-image: url(./public/calendar-img.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;

  @media screen and (max-width: 600px) {
    height: 50vh;
    background-size: cover;
  }

  &--title {
    font-size: 5em;
    text-transform: uppercase;
    font-style: italic;

    position: relative;
    display: inline;
    border: 1px solid black;
    top: 20%;
    left: 10%;
  }

  &--link {
    display: block;
    margin: 1rem;
    text-align: right;
    text-decoration: none;
  }
}

.main {
  margin-top: 1rem;
  padding: 2rem;

  &--func {
    text-align: center;
  }

  &--encart {
    margin-top: 1rem;
    border: 1px solid blue;
    text-align: center;
  }

  &--team {
    margin-top: 1rem;
    text-align: center;
  }
}

.team {
  &--cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &--card {
    margin: 1em;
    width: 100px;
    text-align: center;
  }

  &--img {
    width: 100%;
  }
}
