.header {
  position: relative;
  height: 100vh;
  background-image: url(./public/calendar-img.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;

  @media screen and (max-width: 899px) {
    height: 50vh;
    background-size: cover;
  }

  &--link {
    display: block;
    text-align: right;
    text-decoration: none;
  }

  &--connect {

    @media screen and (min-width: 900px) {
      position: relative;
      top: 25%;
      left: 10%;
    }
  }

  &--title {

    @media screen and (min-width: 900px) {
    }

    text-align: center;
  }
}

.main {
  margin-top: 1rem;
}

.encart {
  &--img {
    width: 15em;
    margin-top: 2rem;
  }
}

.team {
  &--cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 900px;
    margin: 0 auto;
  }

  &--card {
    margin: 1em;
    width: 100px;
    text-align: center;
  }

  &--img {
    width: 100%;
  }
}
